apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
helmCharts:
- name: gateway
  namespace: istio-ingress
  includeCRDs: true
  releaseName: istio-ingressgateway
  version: 1.15.3
  repo: https://istio-release.storage.googleapis.com/charts